<div class="section">
    <div class="item">
        <p class="info-disc">
            E-mail : mopsyshin@gmail.com<br/>
            Phone : +82 10 9514 5181<br/>
            Facebook : https://www.facebook.com/mopsyshin<br/>
            Brunch : https://brunch.co.kr/@mopsyshin
        </p>
    </div>
    <div class="item">
            <p class="info-disc">
                Interested in...<br/>
                Game / Communication / Code / Cooking<br/>
                Fashion / Drawing / Guitar
            </p>
    </div>
    <div class="item">
            <p class="info-disc">
                I'm a... <br/>
                Light Smoker / Gamer 
            </p>
    </div>
</div>