<div class="detail-container">
    <div class="gnb">
        <div class="gnb-wrapper">
            <div class="btn-back">
                <img src="./images/arrow.svg" alt=""/>
            </div>
            <div class="title--bar">
                redot
            </div>
            <div class="btn-empty">

            </div>
        </div>
    </div>
    <div class="content">
        <div class="title">
            Community Platform<br/>
            Redot Prototype
        </div>
        <div class="disc">
            제3세대 커뮤니티 플랫폼을 표방하는 'redot'의 웹버전 프로토타입입니다.
        </div>
    </div>
</div>

<script src="./components/portfolio/detail.js"></script>